<%# unit 4 %>

<%- messages() %>

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<form class="formdetails">
  <label for="account_email">Email:</label><br>
  <input type="email" id="account_email" name="account_email"><br>
  <label for="account_password">Password:</label><br>
  <input type="password" id="account_password" name="account_password">
  <input class="buttonL" type="submit" value="LOGIN">

  <p class="linkcolor">No account? <a href="/account/register">Sign-up!</a></p>
</form>