/*************** Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*************** Smaller (Mobile) View ***************/

:root {
  --navBackgroundColor: rgb(47, 56, 97);
  --divFontColor: #8bb0c1;
}

html, body {
  overflow-x: auto;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 23px;
}

nav {
  font-size: 20px;
  background-color: var(--navBackgroundColor);
  max-width: 100%;
  color: white;
}

.navigationul ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1px;
}

.navigationul li {
  cursor: pointer;
  padding: 8px;
}

#tools {
  float: right;
}

#tools a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 40px;
}

.siteName a {
  text-decoration: none;
  color: var(--navBackgroundColor);
}

.herodivfloat {
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  top: 185px;
  padding: 0;
  margin: 0;
  width: max-content;
}

.herodivfloat p {
  padding: 0;
  margin: 3px;
  color: var(--navBackgroundColor);
}

.herodivfloat h3 {
  margin-bottom: 1px;
  color: var(--navBackgroundColor);
  font-weight: bold;
}

.herodivfloat a {
  text-decoration: none;
  color: black;
  background-color: lightblue;
  padding: 5px;
}

.reviewdiv {
  line-height: 30px;
}

.deloreanupgrades img {
  height: auto;
  width: 70px;
}
.deloreanupgrades {
  text-align: center;
}

.deloreanupgrades a {
  color: black;
}

.upgrades {
  display: block;
  background-color: var(--divFontColor);
  width: 150px;
  border: 1px solid black;
}

.upgrades a {
  display: block;
}

.container {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

/*************** Larger (Computer) View ***************/

@media (min-width: 768px) {

  body {
    background-image:url("/images/site/small_check.jpg");
  }

  .computerdiv {
    border: 4px solid var(--divFontColor);
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    background-color: white;
    width: max-content;
    padding: 20px;
  }

  #tools {
    position: relative;
    top: 25px;
    right: 20px;
  }

  nav {
    font-size: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .navigationul li {
    margin-left: 50px;
  }

  h1 {
    font-size: 30px;
  }

  .heroimage {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  
  .herodivfloat {
    font-size: 20px;
    position: absolute;
    left: 390px;
    top: 260px;
    z-index: 1;
    line-height: 1.2;
  }

  .herodivfloat a {
    line-height: 3;
  }

  .deloreanupgrades {
    float: left;
  }

  .reviewdiv {
    float: right;
    line-height: 50px;
  }


  /*

  .containerreviewandupgrades {
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px;
  }

  .deloreanupgrades {
    gap: 10px;
  }
  
  */

  /*

  .reviewdiv {
    position: relative;
    left: 490px;
    top: 100px;
    line-height: 50px;
  }

  .deloreanupgrades {
    position: relative;
    right: 250px;
    bottom: 200px;
  }

  h2 {
    position: relative;
    bottom: 220px;
    left: 95px;
  }

  h3 {
    position: relative;
    left: 100px;
  }

  */

  /*
  .containerreviewandupgrades {
    display: flex;
    margin: 30px auto;
  }

  .reviewdiv, .deloreanupgrades {
    flex: 1;
    margin: 30px;
  }
  */

}