/*************** Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*************** Smaller (Mobile) View ***************/

:root {
  --navBackgroundColor: rgb(47, 56, 97);
  --divFontColor: #8bb0c1;
  --font: Arial, sans-serif;
}

html, body {
  overflow-x: auto;
  font-family: var(--font)
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 23px;
}

nav {
  font-size: 20px;
  background-color: var(--navBackgroundColor);
  max-width: 100%;
  color: white;
}

.navigationul ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.navigationul a {
  color: white;
  text-decoration: none;
}

#tools {
  float: right;
}

#tools a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 40px;
}

.siteName a {
  text-decoration: none;
  color: var(--navBackgroundColor);
}

.herodivfloat {
  position: absolute;
  top: 37%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  width: max-content;
  text-align: center;
}

.herodivfloat p {
  padding: 0;
  margin: 3px;
  color: var(--navBackgroundColor);
}


.herodivfloat h2 {
  margin-bottom: 1px;
  color: var(--navBackgroundColor);
  font-weight: bold;
}

.herodivfloat a {
  text-decoration: none;
  color: black;
  background-color: lightblue;
  padding: 5px;
}

.reviewdiv h2 {
  font-size: 20px;
}

.reviewdiv {
  line-height: 30px;
}

.deloreanupgrades img {
  height: auto;
  width: 70px;
}
.deloreanupgrades {
  text-align: center;
  margin-bottom: 30px;
}

.deloreanupgrades a {
  color: black;
}

.upgrades {
  display: block;
  background-color: var(--divFontColor);
  width: 150px;
  border: 1px solid black;
}

.upgrades a {
  display: block;
}

.container {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.vehicle-detail img {
  height: auto;
  margin: 0 auto;
  width: 60%;
  display: block;
}

.notice {
  color: red;
  font-style: italic;
}

.formdetails {
  border: 1px solid #59595A;
  margin: 10px;
  padding: 10px;
  width: 90%;
  height: auto;
  background-color: #506897;
  color: white;
  border-radius: 10px;
  text-align: center;
}

#account_email, #account_password,#account_firstname, #account_lastname, #account_phone {
  border: 0px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 80%;
  height: 30px;
}

.formdetails p, .formdetails a {
  color: white;
  font-size: 20px;
}

.formdetails label {
  float: left;
}

input:required:invalid {
  background-color: #F8DEDE;
 }

 input:required:valid {
  background-color: #DEF8EC;
 }

.formdetailsinventory {
  border: 1px solid #59595A;
  margin: 40px;
  padding: 10px;
  width: 80%;
  height: auto;
  background-color: #506897;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#classification_name {
  margin: 12px;
}

.managmentview a {
  color: var(--navBackgroundColor);
  display: block;
  padding: 5px;
  font-size: 20px;
}

#inventoryDisplay{
  padding: 10px;
}

#inventoryDisplay thead, tbody{
  background-color: var(--navBackgroundColor);
  color: white;
}

#inventoryDisplay a{
  color: white;
}

#inventoryDisplay td{
  padding: 10px;
}

.loginsuccessmessage {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  color: var(--navBackgroundColor);
}

/*************** Larger (Computer) View ***************/

@media (min-width: 768px) {

  body {
    background-image:url("/images/site/small_check.jpg");
  }

  .computerdiv {
    border: 4px solid var(--divFontColor);
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    background-color: white;
    width: max-content;
    padding: 20px;
  }

  #tools {
    position: relative;
    top: 25px;
    right: 20px;
  }

  nav {
    font-size: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .navigationul li {
    margin-left: 50px;
  }

  h1 {
    font-size: 30px;
  }

  .heroimage {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    position: relative;
  }

  .herodivfloat {
    width: max-content;
    padding: 20px;
    top: 50%;
    left: 35%;
  }


  .herodivfloat a {
    line-height: 3;
  }

  .deloreanupgrades {
    float: left;
  }

  .reviewdiv {
    float: right;
    line-height: 50px;
  }

  .vehicle-detail img {
    height: auto;
    width: 40%;
    float: left;
    margin-right: 20px;
  }

  .vehicle-detail p {
    padding: 5px;
    margin-left: 10px;
    text-wrap: balance;
  }

  .vehicle-detail {
    margin-bottom: 120px;
  }

  .buttonL {
    border: 0px solid;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 30px;
    color: #A3A3A4;
    font-size: 11px;
    cursor: pointer;
  }

  .buttonU {
    border: 0px solid;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 30px;
    font-size: 11px;
    cursor: pointer;
  }

  .formdetails {
    width: 70%;
  }

  #classification_name {
    margin: 5px;
  }

  .formdetailsinventory {
    width: 70%;
    margin: 0 auto;
  }

}