<%# unit 4 assignment%>
<%# implement a value for the <title> element thats closely associated to have a <h1> heading that does the same thing. %>
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
          res.redirect('/')
        } %>
    
    <body>
        <div>
            <a href="/inv/add-new-classification">Add Classification</a>
            <a href="/inv/add-new-inventory">add inventory</a>
            <main>
        </div>
    </body>